<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un jean</title>
</head>
<body>
    <h2>ajouter un jean</h2>
    <div class="row mt-5">
        <img id="img_output" style="width:200px; height:200px; border: 1px solid black; padding: 5px;" src="{{ url_for('static', filename = 'images/no_photo.jpeg') }}" alt="">
        <div class="w-25">
            <form class="w-190" method="post" action="/admin/jean/add" enctype="multipart/form-data">
                <label for="nom">Nom :
                    <input name="nom" type="text" value=""  class="form-control" required>
                </label>
                <label for="prix">Prix (€) :
                    <input name="prix" type="number" min="0.0" step="0.01" max="2147483647" value=""  class="form-control" required>
                </label>
                <label for="image"> Image :
                    <input name="image" type="file" onchange="loadFile(event)"   class="form-control">
                </label>

                <label for="type_jean_id">Type de l'jean :
                    <select name="coupe_jean_id" required class="form-select">
                        <option value="">Sélectionner un type d'jean</option>
                        {% for type in types_jean %}
                             <option value="{{ type.id_type_jean }}"> {{ type.libelle }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label for="description">description :
                    <input name="description" type="text" class="form-control" >
                </label>
                <label for="submit">
                    <input name="submit" type="submit" value="Ajouter" class="btn btn-primary mt-2">
                </label>
            </form>
        <a href="/admin/jean/show"><button class="btn btn-secondary mt-2">annuler</button></a>
        </div>
    </div>

    <script>
        var loadFile = function(event) {
            var output = document.getElementById('img_output');
            output.src = URL.createObjectURL(event.target.files[0]);
        };
    </script>
</body>
</html>
